[*.cs]

# CS8618: Поле, не допускающее значения NULL, должно содержать значение, отличное от NULL, при выходе из конструктора. Возможно, стоит объявить поле как допускающее значения NULL.
dotnet_diagnostic.CS8618.severity = none

# NUnit2005: Consider using Assert.That(actual, Is.EqualTo(expected)) instead of Assert.AreEqual(expected, actual)
dotnet_diagnostic.NUnit2005.severity = none

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none
