
.vs/
SymOntoClay/bin/
SymOntoClay/obj/
SymOntoClayCore/bin/
SymOntoClayCore/obj/
SymOntoClayUnityAssetCore/obj/
SymOntoClayUnityAssetCore/bin/
SymOntoClayCoreHelper/bin/
SymOntoClayCoreHelper/obj/
SymOntoClayUnity3DAssetTest/bin/
SymOntoClayUnity3DAssetTest/obj/
TestSandbox/bin/
TestSandbox/obj/
SymOntoClayCLI/bin/
SymOntoClayCLI/obj/
/LinguisticVariableViewer/obj
/LinguisticVariableViewer/bin
/SymOntoClayProjectFiles/obj
/SymOntoClayProjectFiles/bin
/SymOntoClayDefaultCLIEnvironment/obj
/SymOntoClayDefaultCLIEnvironment/bin
/SymOntoClaySoundBuses/bin
/SymOntoClaySoundBuses/obj
/SymOntoClayNLP/bin
/SymOntoClayNLP/obj
/SymOntoClayNLPCommonDict/bin
/SymOntoClayNLPCommonDict/obj
/DictionaryGenerator/bin
/DictionaryGenerator/obj
/SymOntoClayNLPBinaryDict/bin
/SymOntoClayNLPBinaryDict/obj
/SymOntoClayBaseTestLib/bin
/SymOntoClayBaseTestLib/obj
/SymOntoClayHardTests/bin
/SymOntoClayHardTests/obj
/SymOntoClayStandardFacts/bin
/SymOntoClayStandardFacts/obj

*.log
