
.vs/
SymOntoClay/bin/
SymOntoClay/obj/
SymOntoClayCore/bin/
SymOntoClayCore/obj/
SymOntoClayUnityAssetCore/obj/
SymOntoClayUnityAssetCore/bin/
SymOntoClayCoreHelper/bin/
SymOntoClayCoreHelper/obj/
SymOntoClayUnity3DAssetTest/bin/
SymOntoClayUnity3DAssetTest/obj/
TestSandbox/bin/
TestSandbox/obj/
