<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="e:\work\log.txt">
  <variable name="loddir" value="${basedir}/logs" />

  <targets>
    <target xsi:type="File" name="file" fileName="${loddir}/${shortdate}.log" layout="${message}" DeleteOldFileOnStartup="true"/>

    <target name="console" xsi:type="Console" layout="${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>
